body {
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Share Tech', sans-serif;
  font-size: 16px;
  line-height: 1;
}
  
textarea {
  border: black;
  color: #000000;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Share Tech', sans-serif;
  padding: 10px;
}
  
.ptext {
  padding: 1.5rem;
  text-align: center;
  font-size: 30px;
}

.dt {
  font-size: 30px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
  
.description {
  white-space: pre-wrap;
}
  
.time-block {
  text-align: center;
  border-radius: 15px;
}
  
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
  
.hour {
  background-color: #000000;
  border-radius: 15px 0 0 15px;
  color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Share Tech', sans-serif;
  text-align: center;
}
  
.past {
  background-color: #aca8a8;
}
.present {
  background-color: #39c1f7;
}
.future {
  background-color: #15ff00;
}
  
.saveBtn {
  border-radius: 0 15px 15px 0;
  background-color: #06aed5;
  color: rgb(255, 255, 255);
}
  
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
